# --- PROD (server) ---
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080
API_VERSION=/v1

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

SPRING_DATASOURCE_URL=jdbc:postgresql://twitter-db:5432/twitter
SPRING_DATASOURCE_DB=twitter
SPRING_DATASOURCE_USERNAME=twitter
SPRING_DATASOURCE_PASSWORD=twitterpass
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect

SPRING_RABBITMQ_HOST=twitter-rabbit
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=twitter-user
SPRING_RABBITMQ_PASSWORD=twitter-password
WEBSOCKET_PATH=/ws

JWT_SECRET_ACCESS=some-long-access-secret
JWT_SECRET_REFRESH=some-long-refresh-secret
JWT_ACCESS_LEAVE_MINUTES=10000
JWT_REFRESH_LEAVE_DAYS=30

CLOUDINARY_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
