# --- PROD (server) ---
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=port_number
API_VERSION=/v1

SPRING_DATASOURCE_URL=jdbc:postgresql://twitter-db:5432/twitter
SPRING_DATASOURCE_DB=twitter
SPRING_DATASOURCE_USERNAME=twitter
SPRING_DATASOURCE_PASSWORD=twitterpass
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect

RABBITMQ_HOST=host
RABBITMQ_PORT=port_number
RABBITMQ_USER=name
RABBITMQ_PASSWORD=password

WEBSOCKET_PATH=/path
WEBSOCKET_PORT=port_number
WEBSOCKET_CLIENT_USER=name
WEBSOCKET_CLIENT_PASSWORD=password

JWT_SECRET_ACCESS=some-long-access-secret
JWT_SECRET_REFRESH=some-long-refresh-secret
JWT_ACCESS_LEAVE_MINUTES=10000
JWT_REFRESH_LEAVE_DAYS=30

CLOUDINARY_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx

MAIL_USERNAME=vpodhornyi@gmail.com
MAIL_PASSWORD="pa ss wo rd"
MAIL_FROM="No Reply <vpodhornyi@gmail.com>"

GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_REDIRECT_URL=url